# Module 2: Project 2

## #6. Calculate Measures of Central Tendency - Native Python

In [12]:
list = [47, 95, 88, 73, 88, 84]

count1 = len(list)

sum_values1 = sum(list)

mean1 = sum_values1 / count1

print(f'count: {count1}')
print(f'sum: {sum_values1}')
print(f'mean: {mean1}')

count: 6
sum: 475
mean: 79.16666666666667

## #7. Calculate Measures of Central Tendency - with Statistic Module

In [13]:
import statistics

print('Mean: ', statistics.mean(list))
print('Median: ', statistics.median(list))
print('Mode: ', statistics.mode(list))

Mean:  79.16666666666667
Median:  86.0
Mode:  88

## #8. Custom Central Tendency / Abby Lloyd

Patrick Mahomes' yards per game - 2021/2022 Season.

In [14]:
mahomes_ypg = [404, 270, 259, 258, 410, 258, 184, 260, 406, 166, 275, 206, 397, 272, 278, 260, 343, 337]

games = len(mahomes_ypg)
total_yards = sum(mahomes_ypg)
average_ypg = statistics.mean(mahomes_ypg)
median = statistics.median(mahomes_ypg)
mode = statistics.mode(mahomes_ypg)

print('Patrick Mahomes Statistics, 2021-2022')
print(f'Games played (count): {games}')
print(f'Total yards (sum): {total_yards}')
print(f'Average yards per game (mean): {average_ypg}')
print(f'Median: {median}')
print(f'Mode: {mode}')

Patrick Mahomes Statistics, 2021-2022
Games played (count): 18
Total yards (sum): 5243
Average yards per game (mean): 291.27777777777777
Median: 271.0
Mode: 258

## -----------------  Chapter 3 Notes and Practice --------------------

### 3.3 Self-Check

In [15]:
number1 = int(input('Enter first integer: '))

number2 = int(input('Enter second integer: '))

sum1 = number1 + number2
print('Sum = ', sum1)

Enter first integer:  34
Enter second integer:  23

Sum =  57

### 3.5 Self Check

In [16]:
grade = 85

if grade >= 60:
    print('Passed')

grade = 55

if grade >= 60:
    print('Passed')

Passed

### 3.6 Practice

**If...else Statement**

In [17]:
grade = 85

if grade >= 60:
    print('Passed')
else: 
    print('Failed')

Passed

In [18]:
grade = 57

if grade >= 60:
    print('Passed')
else:
    print('Failed')

Failed

In [19]:
grade = 99

if grade >= 60:
    print('Passed')
else:
    print('Failed')

Passed

In [20]:
grade = 87

if grade >= 60:
    result = 'Passed'
else:
    result = 'Failed'
    
result

'Passed'

Same as above, except using a **concise conditional expression.** The parentheses are not required, but they make the statement more clear.

In [21]:
result = ('Passed' if grade >= 60 else 'Failed')

result

'Passed'

In [22]:
grade = 49

if grade >= 60:
    print('Passed')
else:
    print('Failed')
    print('You must take this course again')

Failed
You must take this course again

**If you do not indent the second print statement...**

In [23]:
grade = 100

if grade >= 60:
    print('Passed')
else:
    print('Failed')
print('You must take this course again')

Passed
You must take this course again

**if...elif...else statement**

**Note:** The else statement is optional.

In [24]:
grade = 77

if grade >= 90:
    print('A')
elif grade >= 80:
    print('B')
elif grade >= 70:
    print('C')
elif grade >=60:
    print('D')
else:
    print('F')

C

**A SyntaxError occurs if an else is placed before the last elif**

### 3.7 Practice

**While Statement**

In [25]:
product = 3

while product <= 75:
    product = product * 3
    
product

81

**Note:** If a while statement never terminates an infinite loop occurs. Command + C to stop program's execution.

In [26]:
product = 7

while product <= 1000:
    product = product * 7
    
product

2401

### 3.8 Practice

**For Statements**

In [27]:
for character in 'Programming':
    print(character, end='  ')

P  r  o  g  r  a  m  m  i  n  g

**Iterables, Lists, and Iterators**

In [28]:
total = 0

for number in [2, -3, 0, 17, 9]:
    total = total + number
    
total

25

**Built-In Range Function**

In [29]:
for counter in range(10):
    print(counter, end='  ')

0  1  2  3  4  5  6  7  8  9

### 3.8 Self Check

In [30]:
total = 0
for counter in range(1000001):
    total = total + counter

total

500000500000

### 3.9 Augmented Assignments

**Augmented assignments abbreviate expressions in which the same variable name appears on the left and right of the assignment's =**

In [31]:
total = 0

for number in range(6):
    total += number #add number to total

total

15

### 3.9 Self Check

In [32]:
x = 12

x **= 2

x

144

### 3.10 Program Development: Sequence-Controlled Repitition

In [33]:
#initialization phase
total = 0
grade_counter = 0
grades = [98, 76, 71, 87, 83, 90, 57, 79, 82, 94]

#processing phase
for grade in grades:
    total += grade
    grade_counter += 1
    
#termination phase
average = total / grade_counter
print(f'Class average is {average}')

Class average is 81.7

### 3.10 Self Check: F-String

In [34]:
number1 = 7
number2 = 5
sum = number1 * number2

print(f'{number1} times {number2} is {sum}')

7 times 5 is 35

### 3.12 Self Check: Nested if...else statement

In [35]:
for integer in range(2):
    integer = int(input('Enter an integer: '))
    
    if integer % 2 == 0:
        print(f'{integer} is even')
    else:
        print(f'{integer} is odd')

Enter an integer:  23

23 is odd

Enter an integer:  34

34 is even

### 3.13 Built-in Function range

In [36]:
for number in range(5,10):
    print(number, end=' ')

5 6 7 8 9

In [37]:
for number in range(0, 10, 2):
    print(number, end=' ')

0 2 4 6 8

In [38]:
for number in range(10, 0, -2):
    print(number, end=' ')

10 8 6 4 2

### 3.13 Self Check

In [39]:
for number in range(99, -1, -11):
    print(number, end=' ')

99 88 77 66 55 44 33 22 11 0

In [40]:
sum =0

for number in range(2, 101, 2):
    sum += number

print(sum)

2550

### 3.14 Using Type Decimal for Monetary Amounts

**You may perform arithmetic between Decimals and integers, but not between Decimals and floating-point numbers**

In [41]:
from decimal import Decimal

principal = Decimal('1000.00')

rate = Decimal('0.05')

rate

Decimal('0.05')

In [42]:
for year in range(1, 11):
    amount = principal * (1 + rate) ** year
    print(f'{year:>2}{amount:>10.2f}')

 1   1050.00
 2   1102.50
 3   1157.62
 4   1215.51
 5   1276.28
 6   1340.10
 7   1407.10
 8   1477.46
 9   1551.33
10   1628.89

**{year:>2}** indicates that year's value should be right aligned (>) in a field field of width 2

**{amount:>10.2f}** formats amount as a floating-point number right aligned in a field of 10 with a decimal point and two digits to the right of the decimal point. Formatting the amounts this way aligns their decimal points vertically.

### 3.14 Self Check

In [43]:
tax = Decimal('0.0625')
bill = Decimal('37.45')
               
total = bill * (1 + tax)
               
print(f'Total: ${total:.2f}')

Total: $39.79

### 3.15 break and continue statements

In [44]:
for number in range(100):
    if number == 10:
        break
    print(number, end=' ')

0 1 2 3 4 5 6 7 8 9

In [45]:
for number in range(10):
    if number == 5:
        continue
    print(number, end=' ')

0 1 2 3 4 6 7 8 9

### 3.16 Boolean Operators and, or and not

In **and** expressions make the conditions that's more likely to be False the leftmost condition. In **or** expressions make the condition that's more likely to be True the leftmost condition. This speeds up execution time.

In [46]:
gender = 'Female'

age = 70

if gender == 'Female' and age >= 65:
    print('Senior female')

Senior female

In [47]:
semester_average = 83

final_exam = 95

if semester_average >= 90 or final_exam >= 90:
    print('Student gets an A')

Student gets an A

In [48]:
grade = 87

if not grade == -1:
    print('The next grade is', grade)

The next grade is 87

In [49]:
if grade != -1:
    print('The next grade is', grade)

The next grade is 87

### Module 3.16 Self Check

In [50]:
i = 1
j = 2
k = 3
m = 2

In [51]:
(i >= 1) and (j < 4)

True

In [52]:
(m <= 99) and (k < m)

False

In [53]:
(j >= i) or (k == m)

True

In [54]:
(k + m < j) or (3 - j >= k)

False

In [55]:
not (k > m)

False